/*
Project Name: RaggedDesign website
Client: ME
Author: Rachel Girling
Developer @GA in London
*/

/* COLOURS */
/*
orange: #ff9966
blue: #3399ff 
*/
/* BOILERLATE */

/* Box Model */
* {
  box-sizing: border-box;
}

/* Clear fix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
  margin: 0 auto;
  width: 95%;
}

/* Images full width */

img {
  max-width: 100%;
}

/* BASE STYLES*/

html {
  font-size: 20px;
}

body {
  line-height: 1.4;
  font-family: 'Josefin sans';
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

a:hover, a:focus {
  color: orange;
}

h1 {
  font-family: 'Josefin sans';
  font-weight: 900;
}

h2, h3, h4 {
  font-family: 'Cutive Regular';
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.cta {
  font-size: 1.2rem;
  border: 2px solid black;
  padding: 0.3em 1.5em;
}

.logo img {
  height: 200px;
}

.is-hidden, .is-hidden-immediate {
  opacity: 0;
  position: relative;
  transition: all 1s;
}

.is-active, .is-active-immediate {
  opacity: 1;
  position: relative;
  transition: all 1s;
}

.mini-skill.is-active:nth-child(2) {
  transition-delay: 0.7s;
}

img.is-hidden {
  transition-delay: 0.7s;
  transition: 1.5s;
}

/* Slid out menu */

button:focus {
  outline: none;
}

/*.codrops-header {
  margin: 0 auto;
  padding: 3em 2em;
  text-align: center;
}*/

.menu-container, 
.content-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.menu-wrap a { 
  color: #b8b7ad;
  text-decoration: none;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
  color: orange;
}

.content-wrap {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.menu-button {
  position: fixed;
  z-index: 1000;
  margin: 1em;
  padding: 0;
  width: 2.5em;
  height: 2.25em;
  border: none;
  text-indent: 2.5em;
  font-size: 1.2em;
  color: transparent;
  background: transparent;
  cursor: pointer;
}

.menu-button::before {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
  content: '';
}

.menu-button:hover {
  opacity: 0.6;
}

/* Close Button */
.close-button {
  width: 1em;
  height: 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 1em;
  font-size: 0.6em;
  border: none;
  background: transparent;
  color: transparent;
  cursor: pointer;
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #bdc3c7;
}

.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
  position: fixed;
  z-index: 1001;
  width: 300px;
  height: 100%;
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1em;
  -webkit-transform: translate3d(-320px,0,0);
  transform: translate3d(-320px,0,0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu, 
.icon-list {
  height: 100%;
}

.icon-list {
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.icon-list a {
  display: block;
  padding: 0.8em;
  -webkit-transform: translate3d(0,500px,0);
  transform: translate3d(0,500px,0);
}

.icon-list,
.icon-list a {
  -webkit-transition: -webkit-transform 0s 0.4s;
  transition: transform 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.icon-list a:nth-child(2) {
  -webkit-transform: translate3d(0,1000px,0);
  transform: translate3d(0,1000px,0);
}

.icon-list a:nth-child(3) {
  -webkit-transform: translate3d(0,1500px,0);
  transform: translate3d(0,1500px,0);
}

.icon-list a:nth-child(4) {
  -webkit-transform: translate3d(0,2000px,0);
  transform: translate3d(0,2000px,0);
}

.icon-list a:nth-child(5) {
  -webkit-transform: translate3d(0,2500px,0);
  transform: translate3d(0,2500px,0);
}

.icon-list a:nth-child(6) {
  -webkit-transform: translate3d(0,3000px,0);
  transform: translate3d(0,3000px,0);
}

.icon-list a span {
  margin-left: 10px;
  font-weight: 700;
}

/* Show menu */
.show-menu .menu-wrap {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list,
.show-menu .icon-list a {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list a {
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* UNIVERSAL STYLES*/

/*.fa-bars {
  color: black;
  float: right;
  font-size: 3rem;
  margin-top: .2em;
  cursor: pointer;
}

nav {
  display: none;
}

nav ul li {
  display: inline-block;
  padding: 0 2em 0 2em;
}

nav ul li:first-child {
  padding-left: 0;
}*/

footer {
  background-color: rgba(204, 102, 51, .75);
  padding: 40px 20px;
  margin-top: 100px;
}

footer p, footer a {
  color: white;
  font-size: 0.8rem;
}

footer img {
  height: 150px;
}

.flex-menu {
  display: flex;
  justify-content: space-evenly;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-contact, .footer-logo {
  align-self: center;
}

.footer-copyright {
  align-self: flex-end;
}

/* section styles */

/* div styles*/

.logo {
  text-align: center;
  padding: 2em 0 2em 0;
}

.navigation {
  background-color: white;
}

.home-title {
  text-align: center;
  padding: 5em 0 5em 0;
}

.flex-skills {
  display: flex;
  justify-content: center;
}

.mini-skill {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3em;
}

.mini-skill:first-child {
  margin-left: 5em;
  margin-right: 2em;
}

.mini-skill:last-child {
  margin-right: 5em;
}

.skill-block {
  flex-grow: 1;
  margin: 2em 5em 2em 5em;
  padding: 1em;  
}

/* HOMEPAGE*/

.homepage {
  background-image: url(../images/rd-header-image-sample.jpeg);
  background-size: cover;
  padding: 0px 0px 100px 0px;
}

.home-title h1 {
  padding: 0 0 0.3em 0;
  text-shadow: 1px 1px 1px #ffffff;
}

.home-title h3 {
  padding: 0 0 1.5em 0;
  text-shadow: 1px 1px 1px #ffffff;
 }

.home-contact:hover {
  border-color: orange;
}

.home-latest h2 {
  margin: 1em 0;
}

.flex-work {
  display: flex;
}

.work-titles {
  flex-grow: 1;
  margin: 2em 0;
}

.work-examples {
  flex-grow: 1;
  margin: 0 2em;
  background-size: cover;
  background-position: center;
/*  background-color: rgba(255, 255, 255, 0.5);*/
  padding: 8em;
}

.sevendials {
  background-image: url(../images/seven-dials-website.png);
}

.maverick {
  background-image: url(../images/maverick-encounters-website.png);
}

.skill-things {
  text-align: center;
}

.skill-things h2 {
  margin-top: 1em;
}

.skill-name {
  cursor: pointer;
  font-family: 'Cutive Regular';
  margin: 1em 0;
}

.skill-name:first-child {
  margin-top: 0;
}

.skill-name:last-child {
  margin-bottom: 0;
}

.skill-text {
  display: none;
  width: 60%;
  margin: 0 auto;
}

.hero-carousel {
  width: 100%;
  margin: 0 auto;
}

.hero-carousel div {
  background-color: black;
  text-align: center;
  color: white;
  padding: 50px 0;
}

.quote h3 {
  margin-top: 1em;
}

.quote-inner {
  width: 60%;
  margin: 0 auto;
}

/* Contact page*/

.my-face, .my-work {
  display: flex;
  justify-content: space-around;
}

.my-face-image, .case-studies-image {
  max-width: 40%;
}

.contact-details {
  align-self: center;
  text-align: center;
}

/* About page */

.about-page h1 {
  margin-top: 1em;
}

.about-words {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2em;
}

.nice-things h2 {
  margin-top: 1em;
}

.nice-blocks {
  display: flex;
  margin: 2em 0 0 0;
}

.about-nice-block {
  margin: 0 3em;
  text-align: center;
}

.about-nice-block h4 {
  margin-top: 1em;
}

/* work page */

.case-details {
  align-self: flex-start;
  text-align: left;
  background-color: rgba(204, 102, 51, 0.75);
/*  padding: 1em 15em 1em 1em;*/
}

.my-work {
  margin-bottom: 8em;
}

.inner-comment {
  width: 50%;
  margin: 0;
}

/* Media queries */

@media screen and (min-width: 1610px) {

  .mini-skill {
    flex-grow: 1;
    margin: 0 5em;
    padding: 5em;
  }
}

@media screen and (min-width: 1230px) {
  
  html {
    font-size: 24px;
  }

  .fa-bars {
    display: none;
  }

  nav {
    display: inline;
    margin: 0 0 2em 0;
  }

  nav ul li {
    display: inline-block;
    padding: 0 2em 0 2em;
  }

  nav ul li:first-child {
    padding-left: 0;
  }

}